* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*--------------- Colors ---------------*/
    --dark-grey: #24292E;
    --light-grey: #8b8b8b;
    --very-light-grey: #dddddd;
    --white: #ffffff;
    --light-blue: #0366d6;
    --very-light-blue: #ddeeff;
    --light-orange: #eb5833;

    /*--------------- Sizes ---------------*/
    --general-indent: 25px;
    --sm-space: 20px;
}

/*--------------- Components ---------------*/
.tooltip{
    background-color: var(--dark-grey);
    color: white;
    padding: 7px;
    min-width: 115px;
    font-size: 11px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    position: absolute;
    z-index: 12;
    display: none;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.tooltip-caret {
    position: absolute;
    left: 50px;
    margin-top: -27px;
    color: var(--dark-grey) !important;
}

.modal {
    display: none;
}
.modal-items {
    background-color: white;
    color: var(--dark-grey);
    font-size: 14px;
    width: 190px;
    height: auto;
    border: 1px solid var(--very-light-grey);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    z-index: 20 !important;
    box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.2);
    position: absolute;
    top: 30px;
    right: 20px;
    right: 0;
    padding: 5px 0;
}
.modal-items li {
    list-style: none;
    padding: 7px 13px;
    margin: 3px 0;
    cursor: pointer;
}
.modal-items li:hover {
    background-color: var(--light-blue);
    color: white;
}
.fa-caret-up {
    position: absolute;
    top: 13px;
    right: 15px;
    color: white;
    font-size: 25px;
    z-index: 15 !important;
}
.modal__username, 
.modal__username + p{
    padding: 5px 10px;
}
.modal__username + p {
    font-size: 13px;
    /* text-transform: uppercase; */
    font-weight: bold;
}
.modal-items__status {
    font-size: 13px !important;
    border: 1px solid var(--very-light-grey);
    min-width: 50px;
    height: 30px;
    padding: 3px 10px;
    margin: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.modal-items__status:hover {
    cursor: pointer;
    color: var(--light-blue);
}

/*--------------- Components Closed ---------------*/

/*--------------- Animations ---------------*/
.fade-in {
    animation: 0.4s fade-in  ease forwards;
    -webkit-animation: 0.4s fade-in  ease forwards;
    z-index: 20 !important;
}
@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
/*--------------- Animations Closed ---------------*/


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: var(--dark-grey);
}

/* set max screen */
.overall-container {
    max-width: 1280px;
}

hr {
    outline: none;
    height: 1px;
    background-color: var(--very-light-grey);
    border: none;
}

a {
    color: var(--dark-grey);
    text-decoration: none;
}

img {
    object-fit: cover;
    object-position: center;
}

.iconify {
    font-size: 16px;
}

/* -------------- General reusable classes --------------  */
.show {
    display: block !important;
}
.show-flex {
    display: flex !important;
}
.visible {
    visibility: visible !important;
}
.hide {
    display: none;
}
/* -------------- General reusavle classes Closed --------------  */

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
    background-color: var(--dark-grey);
    padding: 16px 24px;
    margin-bottom: var(--sm-space);
    /* border: 1px solid yellow; */
}
.nav__menu-btn {
    display: none;
}
.nav__github-logo {
    min-width: 31px;
    min-height: 31.21px;
    color: var(--white);
    margin-right: var(--sm-space);
}
.nav__github-logo:hover {
    cursor: pointer;
    opacity: 0.7;
}
.nav-search-items-container,
.nav-options {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-options {
    /* border: 1px solid red; */
    margin-left: auto;
}
.nav-options i {
    margin-left: 5px;
}
.nav-options span {
    font-size: 16px;
    cursor: pointer;
}
.mobile-search {
    display: none;
}
.search {
    position: relative;
    margin-right: var(--sm-space);
    /* border: 1px solid blue; */
}
.search__bar {
    width: 272px;
    height: 30px;
    outline: none;
    cursor: text;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 5px 15px;
    padding-right: 35px;
    background-color: var(--dark-grey);
    border: 1px solid hsl(0, 0%, 55%, 0.5);
    background-color: var(--dark-grey);
    color: var(--white);
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -ms-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
} 
.search__bar:focus {
    border: 1px solid var(--light-blue);
    background-color: rgb(80, 80, 80);
    width: 400px;
}
.search__bar::placeholder {
    color: var(--very-light-grey);
    font-weight: 500;
}
/* Takle placeholder later */
/* [id^="nav-search"] ::placeholder {
    font-weight: bold;
    color: var(--very-light-grey);
} */
.search__key-slash {
    position: absolute;
    width: 19px;
    height: 20px;
    border: 1px solid hsl(0, 0%, 55%, 0.5);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
    color: var(--light-grey);
}
.nav-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* border: 1px solid yellow; */
}
.mobile-nav-items {
    display: none;
}
.nav-items li {
    margin-right: calc(var(--sm-space) - 5px);
    font-weight: bold;
}
.nav-items li:hover {
    cursor: pointer;
    opacity: 0.7;
}
.nav-items__pulls {
    display: none;
}
.nav__notification,
.nav__new-btn,
.nav__avatar-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: calc(var(--sm-space) - 5px);
}
.nav__notification:hover {
    opacity: 0.7;
}
.nav__new-btn:hover {
    color: rgb(194, 194, 194);
}
.nav__avatar-btn,
.nav__new-btn {
    position: relative;
}
.nav__avatar-btn img {
    width: 20px;
    height: 20px;
    /* border: 1px solid yellow; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.nav__avatar-btn:hover i {
    opacity: 0.7;
}

.main-nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgb(236, 236, 236, 0.1);
    padding: 0 var(--general-indent);
    background-color: var(--white);
    z-index: 5;
}
.main-nav-user {
    display: flex;
    align-items: center;
    margin-right: 13%;
    font-weight: 600;
    visibility: hidden;
    /* padding: 10px 0; */
}
.main-nav-user img{
    width: 32px;
    height: 32px;
    /* background-color: var(--dark-grey); */
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main-nav__items-container {
    display: flex;
    list-style: none;
}
.main-nav-items {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    height: 50px;
    cursor: pointer;
    border-bottom: 2.5px solid var(--white);
    /*border: 1px solid;*/
    
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
}
.main-nav-items:hover {
    border-bottom: 2.5px solid var(--very-light-grey);
    margin: 0;
}
/* for active nav item */
.active,
.active:hover {
    border-bottom: 2.5px solid var(--light-orange);
    font-weight: bold;
    color: var(--dark-grey);
}
.main-nav-items :first-child{
    font-size: 16px;
    color: var(--light-grey);
    margin-right: 10px;
}
.active :first-child {
    color: var(--dark-grey);
}
.main-nav-items__no-of-repos {
    font-size: 11px;
    text-align: center;
    padding: 4px 7px;
    margin-left: 10px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.main-body {
    /* border: 1px solid green; */
    padding: 0 var(--general-indent);
    display: flex;
    align-items: flex-start;
}
.profile {
    width: 30%;
    max-width: 20em;
    margin-right: 35px;
    margin-bottom: 25px;
    position: relative;
    /* border: 1px solid purple; */
}
.profile-photo {
    position: relative; 
    max-width: 25em;
    max-height: 25em;
    margin-bottom: var(--sm-space);
    z-index: 10;
    /* border: 1px solid orange; */
}
.profile-photo img {
    width: 100%;
    margin-top: -30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
/* display tool-tip when user overs on photo */
.profile-photo:hover .tooltip {
    display: block;
}
.profile-photo__status {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 5px 10px;
    top: 30%;
    left: 80%;
    background-color: var(--white);
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid var(--very-light-grey);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    z-index: 11;
    transition: width 1s ease;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -ms-transition: width 1s ease;
    -o-transition: width 1s ease;
    font-size: 13px;
}
.profile-photo__status:hover {
    box-shadow: 0 0 5px rgb(73, 73, 73, 0.2);
    cursor: pointer;
    color: var(--light-blue);
    width: auto;
    height: auto;
    word-break: break-word;
    white-space: wrap;
    overflow: visible;
}
.profile__name {
    font-size: 26px;
}
.profile__username {
    font-size: 20px;
    font-weight: 300;
    color: #586069;
    margin-bottom: var(--sm-space);
}
.profile__desc {
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 30px;
    /* margin-right: var(--sm-space); */
}
.edit-profile-btn {
    width: 100%;
    padding: 9px 15px;
    margin-bottom: var(--sm-space);
    font-weight: 600;
    color: var(--dark-grey);
    background-color: #fafbfc;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.other-profile-info {
    color: #586069;
    display: flex;
    align-items: center;
    margin-bottom: var(--sm-space);
}
.dot-separator{
    margin: -5px 5px 0 5px;
    font-weight: 500;
}
.followers,
.following,
.total-stars {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid lightgray; */
}
.followers:hover,
.following:hover,
.total-stars:hover {
    color: var(--light-blue);
}
.followers-count,
.following-count,
.total-star-count {
    color: var(--dark-grey);
    font-weight: 500;
    margin: 0 5px;
}
.website-link,
.twitter-link {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
    cursor: pointer;
}
.website-link :first-child,
.twitter-link :first-child {
    font-size: 16px;
    color: #586069;
    cursor: auto;
}
.other-profile-info a,
.website-link a {
    color: var(--dark-grey);
    text-decoration: none;
}
.website-link a:hover,
.twitter-link:hover {
    text-decoration: underline;
    color: var(--light-blue);
}


.main-body-repos {
    /* border: 1px solid purple; */
    width: 100%;
}
.find-repo-filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__find-repo {
    width: 100%;
    outline: none;
    padding: 9px 10px;
    height: 35px;
    border: 1px solid var(--very-light-grey);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 15px 0;
    margin-right: 10px;
}
.main__find-repo:focus {
    border: 1px solid var(--light-blue);
    box-shadow: 0 0 0 3px hsl(212, 97%, 43%, 0.3);
}
.filter-btns-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.filter-btns,
.new-repo-btn {
    padding: 9px 15px;
    display: flex;
    margin-left: 10px;
    background-color: #fafbfc;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.filter-btns {
    width: 110px;
    max-height: 35px;
    color: rgb(68, 68, 68);
    font-weight: 600;
}
.filter-btns:hover, .edit-profile-btn:hover {
    background-color: #f3f4f6;
    cursor: pointer;
}
.filter-btns-container :nth-child(2) {
    width: 140px;
}
.filter-btns i {
    margin-left: 7px;
    vertical-align: middle;
}
.new-repo-btn {
    display: flex;
    align-items: center;
    background-color: #2ea44f;
    color: white;
    border: none;
    padding: 9px 17px;
    margin-left: 17px;
}
.new-repo-btn :only-child {
    margin-right: 7px;
}
.new-repo-btn:hover {
    cursor: pointer;
    background-color: #279747;
}

.repo-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--very-light-grey);
}
.repo {
    /* border: 1px solid pink; */
    width: 80%;
    padding: 30px 0;
    color: #586069;
    font-size: 12px;
}
.repo__name {
    font-size: 20px;
    color: var(--light-blue) !important;
    /* margin-bottom: 15px; */
} 
.repo__name:hover {
    text-decoration: underline;
    cursor: pointer;
}
.repo__desc {
    line-height: 2;
    margin: 5px 0 10px 0;
    font-size: 0.85rem;
}
.topics-container {
    display: flex;
    flex-wrap: wrap;
}
.topics-container__topics {
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color: var(--very-light-blue);
    color: var(--light-blue);
    font-weight: 500;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
}
.topics-container__topics:hover {
    background-color: #d0e5fa;
}
.repo-info {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.repo-info__language,
.repo-info__stargazers,
.repo-info__forks,
.repo-info__update {
    display: flex;
    align-items: center;
    margin: 0 20px 10px 0;
    color: var(--text-color);
    /* border: 1px solid red; */
}
.repo-info__language :first-child,
.repo-info__stargazers :first-child,
.repo-info__forks :first-child,
.repo-info__update :first-child {
    margin-right: 5px;
    font-size: 16px;
}
.repo-info__update :first-child {
    font-size: 12px;
}
.repo-info__stargazers:hover,
.repo-info__forks:hover {
    color: var(--light-blue);
    cursor: pointer;
}
.repo-info__language-color {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 230, 0);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid hsl(0, 0%, 0%, 0.1);
}
.repo-container__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 12px;
    color: var(--dark-grey);
    background-color: #fafbfc;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: auto;
    font-weight: 600;
}
.repo-container__btn:hover {
    background-color: #f3f4f6;
}
.repo-container__btn :first-child {
    font-size: 14px;
    margin-right: 5px;
    color: #586069;
}
.footer-disector{
    margin: 0 30px;
    margin-top: 40px;
}
.footer,
.footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer {
    width: 100%;
    padding: 50px 30px;
    position: relative;
    bottom: 0;
    /* border: 2px solid teal; */
}
.footer-logo {
    font-size: 25px;
    color: var(--very-light-grey);
}
.footer-items {
    width: 100%;
    list-style: none;
    font-size: 12px;
}
.footer-items a {
    color: var(--light-blue);
}
.footer-items li:hover {
    text-decoration: underline;
}




/* ==================== Tablet View ==================== */
@media only screen and (max-width: 1000px){
    /* .nav-items__dashboard, */
    .nav-items__pulls {
        display: flex;
    }
    .nav-items__pull-requests {
        display: none;
    }
    .search__bar:focus {
        width: 300px;
    }
    
    .main-body {
        padding: 0;
    }
    .profile{
        padding-right: var(--general-indent);
        padding-left: var(--general-indent);
    }
    .find-repo-filter-container,
    .repo-container {
        margin-right: var(--general-indent);
        margin-left: var(--general-indent);
    }

    .main-nav-user {
        /* visibility: visible; */
        width: 15%;
    }
    .profile-photo__status {
        top: 23%;
        left: 75%;
    }

    .footer-disector{
        margin: 0 30px;
        margin-top: 70px;
    }
    .footer,
    .footer-items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }
    .footer-logo {
        display: none;
    }
}


/* ==================== Mobile View ==================== */
@media only screen and (max-width: 800px){
    .tooltip {
        display: none !important; 
    }
    .nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        /* border: 1px solid yellow; */
    }
    .nav-search-items-container {
        display: none;
    }
    .nav__new-btn,
    .nav__avatar-btn {
        display: none;
    }
    .nav__menu-btn {
        display: flex;
        font-size: 25px;
        cursor: pointer;
        /* border: 1px solid green; */
    }
    .nav__menu-btn:hover {
        opacity: 0.7;
    }
    .nav__github-logo {
        margin-right: 0;
        /* border: 1px solid green; */
    }    
    .nav-options,
    .nav__notification {
        margin-left: 0;
        /* border: 1px solid green; */
    }
    .mobile-nav-container {
        color: var(--white);
        background-color: var(--dark-grey);
        padding: 0 var(--sm-space);
        padding-bottom: var(--sm-space);
        margin-top: -2px;
        display: none;
    }
    .mobile-nav-container hr {
        outline: none;
        border: none;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .mobile-search {
        display: block;
        width: 100%;
        padding-bottom: 15px;
        /* border: 1px solid green; */
    }
    .mobile-search__bar,
    .mobile-search__bar:focus {
        width: 100%;
    }
    .mobile-search__key-slash {
        display: none;
    }
    .main-nav-user {
        display: none;
    }
    .mobile-nav-items {
        display: flex;
        flex-direction: column;
    }
    .mobile-nav-items li {
        padding: 10px 0;
    }
    .mobile-nav-user { 
        margin: 0;
        padding: 0;
        width: 100%;
        visibility: visible !important;
        display: flex !important;
    }
    .mobile-nav-user img {
        width: 25px;
        height: 25px;
    }
    .mobile-nav-user:hover {
        opacity: 0.7;
    }
    .logout-icon {
        font-size: 16px;
        vertical-align: bottom;
    }

    .main-nav {
        overflow-x: scroll;
    }

    .main-body {
        flex-direction: column;
    }
    .profile {
        max-width: 100%;
        width: 100%;
    }
    .profile-photo {
        position: unset; 
        max-width: 6em;
        max-height: 6em;
        margin-bottom: var(--sm-space);
        margin-right: var(--sm-space);
        /* border: 1px solid orange; */
    }
    .profile-photo img {
        margin-top: 5px;
        width: 80%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .profile-photo__status {
        position: unset;
        word-break: break-word;
        /* min-width: 25px;
        min-height: 25px; */
        width: 100%;
        margin-bottom: 15px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .profile-photo__status:hover {
        box-shadow: 0 0 2px rgb(73, 73, 73, 0.2);
        cursor: pointer;
        color: var(--light-blue);
    }
    .profile-photo, .profile-info{
        display: inline-block;
        vertical-align: middle;
    }
    .profile-info {
        margin-left: -15px;
    }

    .find-repo-filter-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .filter-btns-container {
        width: 100%;
        gap: 10px;
        justify-content: flex-start;
        margin-bottom: 15px;
        /* border: 1px solid red; */
    }
    .filter-btns {
        width: auto;
        margin-left: 0;
        padding: 9px  10px;
    }
    .filter-btns-container :nth-child(2) {
        width: auto;
    }
    .new-repo-btn {
        margin-left: auto;
    } 
    .repo-info {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    .main-nav-items :first-child {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .profile-photo {
        width: 60%;
    }
    .profile__name {
        font-size: 22px;
    }
    .profile__username {
        font-size: 18px;
    }
    .filter-btns {
        padding: 9px 5px;
        font-size: 11px;
    }
    .filter-btns i {
        margin-left: 5px;
    }
}